anaconda-anon-usage @ file:///home/task_177490767889375/croot/anaconda-anon-usage_1774907925443/work
anaconda-auth @ file:///Users/ec2-user/croot/anaconda-cloud-auth-split_1776812136268/work
anaconda-cli-base @ file:///Users/ec2-user/croot/anaconda-cli-base_1775469286756/work
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
beautifulsoup4==4.15.0
bitarray==3.8.1
blis==1.3.3
boltons @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_97h34kncb9/croot/boltons_1751383736162/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161081/work
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4xd9yd9i2/croot/cffi_1736182819442/work
charset-normalizer==3.5.1
click==8.5.0
cloudpathlib==0.25.0
cloudpickle==3.1.2
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1777457914752/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ebkcs5yxh6/croot/conda-anaconda-tos_1755123330773/work
conda-content-trust @ file:///Users/ec2-user/croot/conda-content-trust_1775266692779/work
conda-libmamba-solver @ file:///home/task_177680598199370/croot/conda-libmamba-solver_1776806057595/work/src
conda-package-handling @ file:///opt/miniconda3/conda-bld/conda-package-handling_1762366402479/work
conda_package_streaming @ file:///opt/miniconda3/conda-bld/conda-package-streaming_1762361629849/work
confection==1.3.3
cryptography @ file:///opt/miniconda3/conda-bld/cryptography-split_1760092604751/work
cymem==2.0.13
defusedxml==0.7.1
distro @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/distro_1728591855492/work
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi==0.141.1
filetype==1.2.0
frozendict @ file:///opt/miniconda3/conda-bld/frozendict_1761750665916/work
future==1.0.0
google-auth==2.58.0
google-genai==2.23.0
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258823/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpcore2==2.12.0
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187686/work
httpx2==2.12.0
idna==3.19
jaraco.classes @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97dr4u6nc1/croot/jaraco.classes_1755516335437/work
jaraco.context @ file:///Users/ec2-user/croot/jaraco.context_1769477835473/work
jaraco.functools @ file:///Users/ec2-user/croot/jaraco.functools_1768389367886/work
Jinja2==3.1.6
joblib==1.6.0
jsonpatch @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jsonpatch_1728594556110/work
jsonpointer @ file:///Users/ec2-user/croot/jsonpointer_1774432881987/work
keyring @ file:///opt/miniconda3/conda-bld/keyring_1763637309871/work
langchain-core==1.6.3
langchain-google-genai==4.4.0
langchain-ollama==1.1.0
langchain-protocol==0.0.19
langsmith==0.12.4
libmambapy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_libmambapy_1786125740/work/libmambapy
lshashpy3==0.0.9
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552175942/work
menuinst @ file:///opt/miniconda3/conda-bld/menuinst_1765382369523/work
more-itertools @ file:///Users/ec2-user/croot/more-itertools_1775819407142/work
msgpack @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0d73gp34a_/croot/msgpack-python_1750958625811/work
murmurhash==1.0.15
nltk==3.10.3
numpy==2.5.3
ollama==0.6.2
orjson==3.12.0
packaging==26.3
pkce @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pkce_1728592680499/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975203/work
pluggy @ file:///Users/ec2-user/croot/pluggy_1776972807492/work
preshed==3.0.13
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61k1o_oje7/croot/pycosat_1736868429741/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959671227/work
pydantic==2.13.5
pydantic-settings @ file:///opt/miniconda3/conda-bld/pydantic-settings_1764165151428/work
pydantic_core==2.46.5
Pygments==2.21.0
PyJWT @ file:///Users/ec2-user/croot/pyjwt_1773773803096/work
pyphen==0.18.1
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
python-dotenv @ file:///Users/ec2-user/croot/python-dotenv_1768559692832/work
PyYAML==6.0.3
readchar @ file:///opt/miniconda3/conda-bld/readchar_1760613300945/work
regex==2026.9.10
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
ruamel.yaml @ file:///opt/miniconda3/conda-bld/ruamel.yaml_1762535951282/work
ruamel.yaml.clib @ file:///opt/miniconda3/conda-bld/ruamel.yaml.clib_1762530070208/work
semver @ file:///opt/miniconda3/conda-bld/semver_1761903026306/work
setuptools==84.0.0
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912204150/work
six==1.17.0
smart_open==8.0.1
sniffio==1.3.1
soupsieve==2.9.2
spacy==3.8.16
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
starlette==1.6.0
tenacity==9.1.4
textstat==0.7.13
thinc==8.3.13
tomli @ file:///Users/ec2-user/croot/tomli_1768297433071/work
tomlkit @ file:///opt/miniconda3/conda-bld/tomlkit_1762896638273/work
tqdm==4.70.1
truststore @ file:///opt/miniconda3/conda-bld/truststore_1762520923820/work
typer==0.27.2
typer-slim==0.20.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
uuid_utils==0.17.1
uvicorn==0.52.4
wasabi==1.1.3
weasel==1.0.0
websockets==16.1.1
wheel==0.46.3
wrapt==2.4.1
xxhash==4.0.1
zstandard @ file:///Users/ec2-user/croot/zstandard_1776960546998/work
